<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<title><% @titulo = "Registrate" %></title>


<body>
	<!--=== Content Part ===-->
	<div class="container">
		<!--Reg Block-->
		<div class="reg-block">
			<div class="reg-block-header">
				<h2>Sign Up</h2>
				<ul class="social-icons text-center">
					<li><a class="rounded-x social_facebook" data-original-title="Facebook" href="#"></a></li>
					<li><a class="rounded-x social_twitter" data-original-title="Twitter" href="#"></a></li>
					<li><a class="rounded-x social_googleplus" data-original-title="Google Plus" href="#"></a></li>
					<li><a class="rounded-x social_linkedin" data-original-title="Linkedin" href="#"></a></li>
				</ul>
				<p>Already Signed Up? Click <%= link_to "Sign In", {:action=>"login"}, {:class=>"color-green"} %> to login your account.</p>
			</div>
			<%= form_for(@user) do |f| %>
				<% if @user.errors.any? %>
				<div class="margin-bottom-15"></div>
				<div class="alert alert-danger fade in">
				<center><%= pluralize(@user.errors.count,"error") %>
					<ul>
						<% @user.errors.each do |msg| %>
						<li><%= msg %></li>
						<% end %>
					</ul>
				</center>
				</div>
				</div>
				<% end %>
			<div class="input-group margin-bottom-20">
				<span class="input-group-addon"><i class="fa fa-user"></i></span>
				<%= f.label :nombre %>
				<%= f.text_field :nombre, :class=>"form-control" %>
			</div>
			<div class="input-group margin-bottom-20">
				<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
				<%= f.label :email %>
				<%= f.text_field :email, :class=>"form-control" %>
			</div>
			<div class="input-group margin-bottom-20">
				<span class="input-group-addon"><i class="fa fa-lock"></i></span>
				<%= f.label :password %>
				<%= f.password_field :password, :class=>"form-control" %>
			</div>
			<div class="input-group margin-bottom-30">
				<span class="input-group-addon"><i class="fa fa-key"></i></span>
				<%= f.label :confirm_password %>
				<%= f.password_field :confirm_password, :class=>"form-control" %>
			</div>
			<hr>

			<div class="checkbox">
				<label>
					<input type="checkbox">
					I read <a target="_blank" href="page_terms.html">Terms and Conditions</a>
				</label>
			</div>

			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<%= f.submit "Register", :class=>"btn-u btn-block" %>
				</div>
			</div>
			<% end %>
		</div>
		<!--End Reg Block-->
	</div><!--/container-->
	<!--=== End Content Part ===-->

	

</body>
</html>
