<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<title><% @titulo = "Home de la web esta" %></title>

</head>
<body>
<!-- Mensaje enviado? -->
		
		<% if flash[:noticia] %>
		<div class="margin-bottom-15"></div>
			<div class="alert alert-warning fade in">
			<center><%= flash[:noticia] %></center>
			</div>
		</div>
		<% end %>
		
		<!-- FIN MENSAJE ENVIADO -->

		<!--=== Slider ===-->
		<div class="tp-banner-container">
			<div class="tp-banner">
				<ul>
					<!-- SLIDE -->
					<li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Sign up for free">
						<!-- MAIN IMAGE -->
						<img src="assets/img/sliders/4.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

						<div class="tp-caption revolution-ch1 sft start"
						data-x="center"
						data-hoffset="0"
						data-y="100"
						data-speed="1500"
						data-start="500"
						data-easing="Back.easeInOut"
						data-endeasing="Power1.easeIn"
						data-endspeed="300">
						PaginaWeb.com
					</div>

					<!-- LAYER -->
					<div class="tp-caption revolution-ch2 sft"
					data-x="center"
					data-hoffset="0"
					data-y="190"
					data-speed="1400"
					data-start="2000"
					data-easing="Power4.easeOut"
					data-endspeed="300"
					data-endeasing="Power1.easeIn"
					data-captionhidden="off"
					style="z-index: 6">
					Make your luxury sales a reallity <br/>
					Sign up for free and reach new quality leads
				</div>

				<!-- LAYER -->
				<div class="tp-caption sft"
				data-x="center"
				data-hoffset="0"
				data-y="310"
				data-speed="1600"
				data-start="2800"
				data-easing="Power4.easeOut"
				data-endspeed="300"
				data-endeasing="Power1.easeIn"
				data-captionhidden="off"
				style="z-index: 6">
				<a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">Learn More</a>
				<%= link_to "Try us for FREE", {:action=>"prices"}, :class=>"btn-u" %>
			</div>
		</li>
		<!-- END SLIDE -->

		<!-- SLIDE -->
		<li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Landing page">
			<!-- MAIN IMAGE -->
			<img src="assets/img/sliders/2.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

			<div class="tp-caption revolution-ch1 sft start"
			data-x="center"
			data-hoffset="0"
			data-y="100"
			data-speed="1500"
			data-start="500"
			data-easing="Back.easeInOut"
			data-endeasing="Power1.easeIn"
			data-endspeed="300">
			Includes 300+ Template Pages
		</div>

		<!-- LAYER -->
		<div class="tp-caption revolution-ch2 sft"
		data-x="center"
		data-hoffset="0"
		data-y="190"
		data-speed="1400"
		data-start="2000"
		data-easing="Power4.easeOut"
		data-endspeed="300"
		data-endeasing="Power1.easeIn"
		data-captionhidden="off"
		style="z-index: 6">
		Create your own unic landig page <br/>
		Have an elegant and perfect presentation
	</div>

	<!-- LAYER -->
	<div class="tp-caption sft"
	data-x="center"
	data-hoffset="0"
	data-y="310"
	data-speed="1600"
	data-start="2800"
	data-easing="Power4.easeOut"
	data-endspeed="300"
	data-endeasing="Power1.easeIn"
	data-captionhidden="off"
	style="z-index: 6">
	<a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">Learn More</a>
	<%= link_to "Try us for FREE", {:action=>"demo", :controller=>"templates"}, :class=>"btn-u" %>
</div>
</li>
<!-- END SLIDE -->

<!-- SLIDE -->
<li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="2.0 Tools">
	<!-- MAIN IMAGE -->
	<img src="assets/img/sliders/3.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

	<div class="tp-caption revolution-ch1 sft start"
	data-x="center"
	data-hoffset="0"
	data-y="100"
	data-speed="1500"
	data-start="500"
	data-easing="Back.easeInOut"
	data-endeasing="Power1.easeIn"
	data-endspeed="300">
	Use our 2.0 selling tools and our sales force
</div>

<!-- LAYER -->
<div class="tp-caption revolution-ch2 sft"
data-x="center"
data-hoffset="0"
data-y="190"
data-speed="1400"
data-start="2000"
data-easing="Power4.easeOut"
data-endspeed="300"
data-endeasing="Power1.easeIn"
data-captionhidden="off"
style="z-index: 6">
Use our tools for free<br/>
Or let us doing all the work, your personal sales force
</div>

<!-- LAYER -->
<div class="tp-caption sft"
data-x="center"
data-hoffset="0"
data-y="310"
data-speed="1600"
data-start="2800"
data-easing="Power4.easeOut"
data-endspeed="300"
data-endeasing="Power1.easeIn"
data-captionhidden="off"
style="z-index: 6">
<a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">Learn More</a>
<%= link_to "Try us for FREE", {:action=>"prices"}, :class=>"btn-u" %>
</div>
</li>
<!-- END SLIDE -->
</ul>
<div class="tp-bannertimer tp-bottom"></div>
</div>
</div>
<!--=== End Slider ===-->

<!--=== Service Block ===-->
<div class="container content-sm">
	<div class="row">
		<div class="col-md-4 content-boxes-v6 md-margin-bottom-50">
			<i class="rounded-x icon-screen-desktop"></i>
			<h1 class="title-v3-md text-uppercase margin-bottom-10">Create your Landing Page</h1>
			<p>Sign up for FREE and create your own elegant landing page for your luxury sales.</p>
		</div>
		<div class="col-md-4 content-boxes-v6 md-margin-bottom-50">
			<i class="rounded-x icon-diamond"></i>
			<h2 class="title-v3-md text-uppercase margin-bottom-10">Use our 2.0 Tools</h2>
			<p>Promote your products by using our tools and reach quality leads</p>
		</div>
		<div class="col-md-4 content-boxes-v6">
			<i class="rounded-x icon-rocket"></i>
			<h2 class="title-v3-md text-uppercase margin-bottom-10">Professional sales Force</h2>
			<p>Let us promote your selling by the ultimate 2.0 selling techniques.</p>
		</div>
	</div><!--/row-->
</div><!--/container-->
<!--=== End Service Block ===-->


	<!--=== Portfolio Box c2 ===-->
	<div class="call-action-v1 bg-color-light">
		<div class="headline-center-v2 headline-center-v2-dark">
			<h2>Landing Pages</h2>
			<span class="bordered-icon"><i class="fa fa-th-large"></i></span>
			<p>We have hundreds of different combitanions for your luxury products.<br> Create your elegant landing page and pormote your sales.</p>
		</div>
	</div><!--/container-->
	<ul class="list-unstyled row portfolio-box-v2 no-margin-bottom">
		<li class="col-sm-3">
			<a class="fancybox" data-rel="gallery" title="Project One" href="assets/img/main/img12.jpg">
				<img class="img-responsive" src="assets/img/main/img12.jpg" alt="">
				<span class="portfolio-box-v2-in">
					<i class="rounded-x icon-magnifier-add"></i>
				</span>
			</a>
		</li>
		<li class="col-sm-3">
			<a class="fancybox" data-rel="gallery" title="Project Two" href="assets/img/main/img6.jpg">
				<img class="img-responsive" src="assets/img/main/img6.jpg" alt="">
				<span class="portfolio-box-v2-in">
					<i class="rounded-x icon-magnifier-add"></i>
				</span>
			</a>
		</li>
		<li class="col-sm-3">
			<a class="fancybox" data-rel="gallery" title="Project Three" href="assets/img/main/img17.jpg">
				<img class="img-responsive" src="assets/img/main/img17.jpg" alt="">
				<span class="portfolio-box-v2-in">
					<i class="rounded-x icon-magnifier-add"></i>
				</span>
			</a>
		</li>
		<li class="col-sm-3">
			<a class="fancybox" data-rel="gallery" title="Project Four" href="assets/img/main/img25.jpg">
				<img class="img-responsive" src="assets/img/main/img25.jpg" alt="">
				<span class="portfolio-box-v2-in">
					<i class="rounded-x icon-magnifier-add"></i>
				</span>
			</a>
		</li>
	</ul>
	<!--=== End Portfolio Box c2 ===-->

	<!--=== Call To Action ===-->
	<div class="call-action-v1 bg-color-light margin-bottom-60">
		<div class="container">
			<div class="call-action-v1-box">
				<div class="call-action-v1-in">
					<p>Our technology provides you a great way to reach quality leads and show them your items in a unic and professional way</p>
				</div>
				<div class="call-action-v1-in inner-btn page-scroll">
					<%= link_to "View More Demos", {:action=>"demo", :controller=>"templates"}, :class=>"btn-u btn-brd btn-brd-hover btn-u-dark btn-u-block" %>
				</div>
			</div>
		</div>
	</div>
	<!--=== End Call To Action ===-->

	<!--=== Service Block ===-->
	<div class="container">
		<div class="headline-center-v2 headline-center-v2-dark margin-bottom-60">
			<h2>Premium Services</h2>
			<span class="bordered-icon"><i class="fa fa-th-large"></i></span>
			<p>Improve your selling, let us do all the work.<br>
				Select our <strong>Premium Services</strong> and have access to professional selling services.</p>
			</div><!--/Headline Center v2-->

			<div class="row margin-bottom-60">
				<div class="col-sm-4">
					<div class="service-block-v1 md-margin-bottom-50">
						<i class="rounded-x  icon-envelope"></i>
						<h3 class="title-v3-bg text-uppercase">e-Mail Marketing</h3>
						<p>Use our segmented DB in 5 countries and find quality leads</p>
						<%= link_to "Pricing", {:action=>"prices"}, :class=>"text-uppercase" %>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="service-block-v1 md-margin-bottom-50">
						<i class="rounded-x icon-chemistry"></i>
						<h3 class="title-v3-bg text-uppercase">Adwords</h3>
						<p>Put your product in Google Ads. We have the best publisers team with years of experience.</p>
						<%= link_to "Pricing", {:action=>"prices"}, :class=>"text-uppercase" %>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="service-block-v1 md-margin-bottom-50">
						<i class="rounded-x  icon-share"></i>
						<h3 class="title-v3-bg text-uppercase">Social Media Ads</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non tincidunt neque.</p>
						<%= link_to "Pricing", {:action=>"prices"}, :class=>"text-uppercase" %>
					</div>
				</div>
			</div><!--/row-->

			<div class="row margin-bottom-60">
				<div class="col-sm-4">
					<div class="service-block-v1 md-margin-bottom-50">
						<i class="rounded-x icon-fire"></i>
						<h3 class="title-v3-bg text-uppercase">Stunning Features</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non tincidunt neque.</p>
						<%= link_to "Pricing", {:action=>"prices"}, :class=>"text-uppercase" %>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="service-block-v1 md-margin-bottom-50">
						<i class="rounded-x icon-trophy"></i>
						<h3 class="title-v3-bg text-uppercase">Most Wanted</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non tincidunt neque.</p>
						<%= link_to "Pricing", {:action=>"prices"}, :class=>"text-uppercase" %>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="service-block-v1 md-margin-bottom-50">
						<i class="rounded-x icon-chemistry"></i>
						<h3 class="title-v3-bg text-uppercase">Ready to use</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non tincidunt neque.</p>
						<%= link_to "Pricing", {:action=>"prices"}, :class=>"text-uppercase" %>
					</div>
				</div>
			</div><!--/row-->
		</div><!--/container-->
		<!--=== End Service Block ===-->

		<!--=== Testimonials Section ===-->
		<div class="bg-color-light margin-bottom-60">
			<div class="container content-md">
				<div class="headline-center-v2 headline-center-v2-dark margin-bottom-60">
					<h2>WHAT PEOPLE SAY</h2>
					<span class="bordered-icon"><i class="fa fa-th-large"></i></span>
					<p>We have been tested by hundred of users<br>
						Our satisfied users are our best aval.</p>
					</div><!--/Headline Center v2-->

					<div class="row">
						<div class="col-sm-6">
							<div class="testimonials-v4 md-margin-bottom-50">
								<div class="testimonials-v4-in">
									<p>I had some unic pieces from my grandmom, but I hadn't space to stock it. I decided to sell them and there was when I realized www.pageweb.com. Thanks to this professional team, I had sold all in one week. Definitely, the price is worth it.</p>
								</div>
								<img class="rounded-x" src="assets/img/testimonials/img5.jpg" alt="thumb">
								<span class="testimonials-author">
									Jeremy Asigner<br>
									<em>Administrative. London, England</em>
								</span>
							</div>
						</div>

						<div class="col-sm-6">
							<div class="testimonials-v4">
								<div class="testimonials-v4-in">
									<p>My product was too special, so it was so dificult to reach the correct people. Thanks to this webpage I contact some leads and finally I have my product sold in three weeks!<br> This is the best way to sell all the luxury stock I had.</p>
								</div>
								<img class="rounded-x" src="assets/img/testimonials/img4.jpg" alt="thumb">
								<span class="testimonials-author">
									John Davenport<br>
									<em>Antiquarian. Niza, France.</em>
								</span>
							</div>
						</div>
					</div>
				</div><!--/end container-->
			</div>
			<!--=== End Section ===-->

			<!-- Pricing -->
		<div class="container content">
			<div class="row margin-bottom-40">
				<div class="col-md-3 col-sm-6">
					<div class="pricing hover-effect">
						<div class="pricing-head">
							<h3>Free<span>Totally free, for ever</span></h3>
							<h4><i>€</i>0<i>.00</i> <span>Per Product</span></h4>
						</div>
						<ul class="pricing-content list-unstyled">
							<li><i class="fa fa-gift"></i> Free customisation</li>
							<li><i class="fa fa-inbox"></i> 24 hour support<span></span></li>
							<li><i class="fa fa-globe"></i> 10 GB Disckspace<span></span></li>
							<li><i class="fa fa-cloud-upload">  </i> Cloud Storage<span></span></li>
							<li><i class="fa fa-umbrella"></i> Online Protection<span></span></li>
						</ul>
						<div class="pricing-footer">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum olor .</p>
							<%= link_to '<i class="fa fa-hand-peace-o"></i> Start Now'.html_safe, {:action=>'sign_up', :controller=>'users'}, :class=>'btn-u' %>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="pricing hover-effect">
						<div class="pricing-head">
							<h3>Basic<span>Labore et dolore magnaras</span></h3>
							<h4><i>$</i>8<i>.69</i><span>Per Month</span></h4>
						</div>
						<ul class="pricing-content list-unstyled">
							<li><i class="fa fa-gift"></i> Free customisation</li>
							<li><i class="fa fa-inbox"></i> 24 hour support</li>
							<li><i class="fa fa-globe"></i> 10 GB Disckspace</li>
							<li><i class="fa fa-cloud-upload"></i> Cloud Storage</li>
							<li><i class="fa fa-umbrella"></i> Online Protection</li>
						</ul>
						<div class="pricing-footer">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum olor .</p>
							<a class="btn-u" href="users/cart?basic"><i class="fa fa-shopping-cart"></i> Purchase Now</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="pricing hover-effect">
						<div class="pricing-head">
							<h3>Premium <span>Labore et dolore magnaras </span></h3>
							<h4><i>$</i>69<i>.99</i> <span>Per Month</span></h4>
						</div>
						<ul class="pricing-content list-unstyled">
							<li><i class="fa fa-gift"></i> Free customisation</li>
							<li><i class="fa fa-inbox"></i> 24 hour support</li>
							<li><i class="fa fa-globe"></i> 10 GB Disckspace</li>
							<li><i class="fa fa-cloud-upload"></i> Cloud Storage</li>
							<li><i class="fa fa-umbrella"></i>Online Protection</li>
						</ul>
						<div class="pricing-footer">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum olor .</p>
							<a class="btn-u" href="users/cart?premium"><i class="fa fa-shopping-cart"></i> Purchase Now</a>

						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="pricing hover-effect">
						<div class="pricing-head">
							<h3>Personlized<span>Labore et dolore magnaras</span></h3>
							<h4><i>$</i>99<i>.00</i><span>Per Month</span></h4>
						</div>
						<ul class="pricing-content list-unstyled">
							<li><i class="fa fa-gift"></i> Free customisation</li>
							<li><i class="fa fa-inbox"></i> 24 hour support</li>
							<li><i class="fa fa-globe"></i> 10 GB Disckspace</li>
							<li><i class="fa fa-cloud-upload"></i>Cloud Storage</li>
							<li><i class="fa fa-umbrella"></i>Online Protection</li>
						</ul>
						<div class="pricing-footer">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cloud Storage magna psum olor.</p>
							<a class="btn-u" href="home/contact"><i class="fa fa-shopping-cart"></i> Contact Us</a>

						</div>
					</div>
				</div>
			</div><!--/row-->
			<!-- End Pricing -->
		</div>

</body>
</html>
